.grid-form.form-title {
    grid-column: 1 / -1;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.7)
}

.grid-form {
    display: flex;
    align-items: center;
}

.form-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.grid-form.form-input {
    padding-left: 5%;
    padding-right: 5%;
}

.grid-form.form-input.rut-vigente {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-left: 4%;
}

.grid-form.form-input.certificado {
    display: grid;
    grid-template-columns: 4% 36% 4% 56%;
}

.mdc-button.mdc-button--raised {
    background: #0099CC;
    border-radius: 4px;
}

.mdc-text-field {
    width: 100%;

}

.grid-form.form-input {
    display: grid;
    grid-template-rows: 100% 10px;
}

.mdc-text-field-helper-text {
    margin-top: -3%;
}

.mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {
    color: #0099CC;
}