 /**Css asociados a la estructura paginas  basadas en  tres columnas*/
 html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  
  :root {
    --mdc-theme-primary: #0099CC;
    --mdc-ripple-color: #0099cc00;
  }
  
  body {
    background-color: #F7F7F7;
  
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 70px 50px 55%;
    grid-auto-rows: minmax(150px, auto);
    height: 100%;
    margin: 0;
  }
  
  /*grid items*/
  
  .grid-item-1 {
    grid-column: 1 / -1;
  }
  
  
  
  .grid-item-2 {
    display: grid;
    grid-template-columns: 100%;
    background-color: #FFFFFF;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: 10%;
    margin-right: 5%;
  }
  
  .grid-item-3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100% 100%;
    grid-row-start: 3;
    grid-row-end: 5;
  
    margin-left: 2%;
    margin-bottom: 3.5%;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  
  .grid-item-4 {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #FFFFFF;
    padding-left: 4%;
    margin-right: 3.5%;
    margin-bottom: 5%;
  }
  
  .grid-item-5 {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #FFFFFF;
    padding-left: 4%;
    margin-right: 3.5%;
    margin-bottom: 5%;
  }
  
  
  
  .shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
  }
  
  /*topbar*/
  .mdc-top-app-bar__row {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  /*Menu*/
  .grid-menu {
    padding-left: 10%;
    display: flex;
    align-items: center;
  }
  
  .grid-menu.menu-title {
    display: block;
    padding-top: 5%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 5%;
  }
  
  .mdc-deprecated-list-item {
    padding-left: 10%;
    border-top-right-radius: 13%;
    border-bottom-right-radius: 13%;
    transition: 0.3s;
  }
  
  .menu-title-top {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1%;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .menu-title-bottom {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .mdc-deprecated-list-item__text {
    left: 7.58%;
    right: 49.56%;
    top: 30%;
    bottom: 32%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4E5865;
  }
  
  .selected {
    color: #0099CC;
  }
  
  .on-focus {
    background: rgba(0, 153, 204, 0.1);
    transition: 0.5s;
  }
  
  .mdc-deprecated-list-item.menu:hover {
    background-color: rgba(0, 153, 204, 0.1) !important;
  }
  
  /*form*/
  .grid-form.form-title {
    grid-column: 1 / -1;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.7)
  }
  
  .grid-form {
    display: flex;
    align-items: center;
  }
  
  .form-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .grid-form.form-input {
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .grid-form.form-input.rut-vigente {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-left: 4%;
  }
  
  .grid-form.form-input.certificado {
    display: grid;
    grid-template-columns: 4% 36% 4% 56%;
  }
  
  .mdc-button.mdc-button--raised {
    background: #0099CC;
    border-radius: 4px;
  }
  
  .mdc-text-field {
    width: 100%;
  
  }
  
  .grid-form.form-input {
    display: grid;
    grid-template-rows: 100% 10px;
  }
  
  .mdc-text-field-helper-text {
    margin-top: -3%;
  }
  
  .mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {
    color: #0099CC;
  }